doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Prototype

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');


body.main
  .first
    .logo
      | Ирис

    .menu
      a(href="#") Продукция
      a(href="#") Семинары
      a(href="#") Команда

      .callback

    .slogan
      .h2
        | Будущее современной косметологии
      .h3
        | Профессиональная лечебная косметика  для косметологов и врачей


  .second
    .container
      .header
        | О Нас
      .text
        p
          | Компания «Ирис» начала свою деятельность по продвижению на Ростовский рынок лучших достижений мировой косметологии и эстетической медицины с 1997 года.
          | Основное направление эксклюзивная дистрибуция профессиональных косметических марок для предприятий индустрии красоты.
  .third
    .container
      .header
        | Наши услуги

      .service
        .service-item
          .service-item-icon.case
          .service-item-name
            | Продажи
          .service-item-text
            | Мы продаем только качественную продукцию известных производителей. Покупая товар у нас, Вы можете быть уверенными в его соответствии заявленным характеристикам.
        .service-item
          .service-item-icon.delivery
          .service-item-name
            | Доставка
          .service-item-text
            | Стоимость вашего заказа увеличивается на стоимость услуг Почты России. Стоимость доставки рассчитывается по тарифам  Почты России
        .service-item
          .service-item-icon.teach
          .service-item-name
            | Семинары
          .service-item-text
            | Выберите интересующие семинары по косметологии, нажимая на кнопку  "Записаться на семинар". Можно выбирать их и из разных разделов.

  .fourth


