doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title МК ПО ФУД ФОТОГРАФИИ

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('initialize');

body.page
  .back-button
    p.back 
      a(href="/") Назад
  .container
    .content
      h1 МК ПО ФУД ФОТОГРАФИИ С ПЕТРОМ КАРАСЕВЫМ
      .flex-container
        p.place Место проведения:
          span Студия 112
        p.price Цена:
         span 8000 р.
        p.coach Брэнды:
          span KLAPP

      .text
        p
          |Kinfolk - легендарный лайф-стайл журнал с очень качественным фото контентом. Собственно, фотографии и их стиль стали нашим фирменным отличительным знаком позволили журналу стать одним из самых популярных лайф-стайл журналов по всему миру. 
          |Не постесняемся сказать, что уже существует понятие "снято в стиле Kinfolk".
          |И мы решили научить вас нашим коронным трюкам. В этот раз это будет еда. 
          |Для проведения нашего мастер-класса мы пригласили одного из самых лучших, на наш взгляд, фуд фотографов в России, Петра Карасева, который дружит и сотрудничает с нами. 
          br
        p
          |Программа мероприятия: 
          br
          |1. Зачем людям вообще нужны фотографии еды? Зачем они нужны нашим клиентам? Почему кто-то готов платить деньги за фотографии еды?
          br
          |2. Знания. Умения. Вдохновение. Без этого никак не обойтись.
          br
          |3. Тарелки, вилки, ложки, ножи, доски, поверхности, фоны, украшения, аксессуары – наш любимый стиль рустик.
          br
          |4. Что делать, если ничего из вышеперечисленного у вас нет?
          br
          |5. Необходимое оборудование для съёмки – фотоаппараты, объективы, и ещё куча нужных вещей.
          br
          |6. Свет, ракурс, композиция. 
          br
          |7. Что нужно для организации съёмочного пространства, позволяющего снимать шедевры.
          br
          |8. Отличия между коммерческой и домашней съёмкой.
        p
          |Съёмка вкусной еды.
          br
          |1. Отбор снятого материала в лайтруме, обсуждение фотографий.
          br
          |2. Постобработка – что можно сделать с пресетами, и что можно сделать без них
