doctype html
head
  meta(name="viewport" content="width=device-width")
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="stylesheets/app.css")
  meta(charset="utf-8")
  title Ирис

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3?key=AIzaSyALv14QJCMFIoAqH2JLuGruwxtxCG_IBKk")


  script.
    require('initialize');
    require('main');



body.main
  .mainbg

  .first
    .logo
      | Ирис

    .menu
      a(href="#") Продукция
      a(href="#") Семинары
      a(href="#") Команда

      .callback

    .slogan
      .h2
        | Центр профессиональной косметологии
        //- | Будущее современной косметологии
      .h3
        | Мы работаем только со специалистами

    .intro__arrow
      i.intro__arrow__inner.intro-animation
  .second
    .container
      .header
        | О НАС
      .text
        p
          | Компания «Ирис» начала свою деятельность по продвижению на Ростовский рынок лучших достижений мировой косметологии и эстетической медицины с 1997 года.
          | Основное направление эксклюзивная дистрибуция профессиональных косметических марок для предприятий индустрии красоты.
  .slider.block
    .container
      .promo_blocks
        .block
          img(src="../banner/peel1gk-is-99.jpg")
        .block
          img(src="../banner/o2gk-is-99.jpg")
        .block
          img(src="../banner/mezotergk-is-99.jpg")
        .block
          img(src="../banner/abiggk-is-99.jpg")
  .our-products
    .container
      .header
        p.title Наша продукция
        p.sub-title Высококачественные профессиональные косметические средства.
      .products
        .product
          .inner
            .background
            a(href="#")
            p Линии по уходу
        .product
          .inner
            .background
            a(href="#")
            p Инъекционные препараты
        .product
          .inner
            .background
            a(href="#")
            p Спа и талассо-терапия
        .product
          .inner
            .background
            a(href="#")
            p Оборудование
        .product
          .inner
            .background
            a(href="#")
            p Трихологические средства
        .product
          .inner
            .background
            a(href="#")
            p Химические пилинги


  .third
    .container
      .header
        | Наши услуги

      .service
        .service-item
          .service-item-icon.case
          .service-item-name
            | Продажи
          .service-item-text
            | Мы продаем только качественную продукцию известных производителей. Покупая товар у нас, Вы можете быть уверенными в его соответствии заявленным характеристикам.
        .service-item
          .service-item-icon.delivery
          .service-item-name
            | Доставка
          .service-item-text
            | Стоимость вашего заказа увеличивается на стоимость услуг Почты России. Стоимость доставки рассчитывается по тарифам  Почты России
        .service-item
          .service-item-icon.teach
          .service-item-name
            | Семинары
          .service-item-text
            | Выберите интересующие семинары по косметологии, нажимая на кнопку  "Записаться на семинар". Можно выбирать их и из разных разделов.

  .fourth
    .container
      .header
        | Отзывы
      .service
        .service-item
          .service-item-icon
            img(src="/testimonial_31-190x190.jpg")
          .service-item-name
            | Фёдор Казаков
          .service-item-text
            p “In at accumsan risus. Nam id volutpat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. In ultricies sit amet, hendrerit in lorem at accumsan risus.”
        .service-item
          .service-item-icon
            img(src="/testimonial_22-190x190.jpg")
          .service-item-name
            | Валерий Субботин
          .service-item-text
            p “In at accumsan risus. Nam id volutpat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. In ultricies sit amet, hendrerit in lorem at accumsan risus.”
        .service-item
          .service-item-icon
            img(src="/testimonial_11-190x190.jpg")
          .service-item-name
            | Виктория Алексеева
          .service-item-text
            p “In at accumsan risus. Nam id volutpat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. In ultricies sit amet, hendrerit in lorem at accumsan risus.”
  .form
    .container
      form
        label Имя
        input(type='text')
        label Телефон
        input(type='text')
        input(type="submit" value="ОТПРАВИТЬ").button
  .footer
    .container
      .left
        .ad
          p Ростова-на-Дону,
          p ул. Горького, 151
      .right
        .email
          a(href="mailto:iris@gmail.com") iris@gmail.com
          a(href="tel:+78632962219" class="tel") +7 (863) 296-22-19
  #map-canvas

